<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="services.js"></script>
<script src="controller.js"></script>
  </head>
  <body>
    <body ng-app="navigationapp">
<input type="text">
<div ng-controller="parentcontroller">
<ul>
<li ng-repeat="parent in itemdata">
{{parent.Title}}
</li>
</ul>
<!-- <div ng-controller="">
<ul>
<li ng-repeat="">
</li>
</ul>
</div> -->
</div>
  </body>
</html>
